.slideOutBox {
  transition: transform 0.5s ease;
  position: fixed;
  top: 0px;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255, 246, 225) 90%, #b1acaa 90%);
  z-index: 999;
}

.slideOut {
  transform: translateY(-200%);
}

.detailSlideOutBox {
  transition: transform 0.5s ease;
  position: fixed;
  top: 0px;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255, 246, 225) 90%, #b1acaa 90%);
}

.text {
  color: #1a1a1a;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .text {
    color: #1a1a1a;
    font-size: 10px;
  }
}

.detailBox {
  position: fixed;
  left: 0;
  top: 0;
  height: 0px;
  width: 100%;
  display: flex;
}
