.slideOutBox {
  width: 20%;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #b1acaa;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0 0 15px 15px;
  height: fit-content;
  transform: translateY(calc(-100% - 70px));
}

.slideOut {
  transform: translateY(70px);
}

.text {
  padding-top: 5px;
  color: #000000;
  font-size: clamp(1px, 1.3vw, 13px);
  max-width: 100%;
  cursor: pointer;
}

.link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
