.Markdown {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-size: 20px;
  color: black;
  font-family: sans-serif;
}

.Markdown pre {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Markdown code {
  width: 50%;
  display: flex;
  justify-content: center;
}

.Markdown li {
  font-size: 17px;
}

.Markdown p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Markdown img {
  max-width: 40%;
}

.Markdown h4 {
  font-size: 0.8em;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}

.MarkdownContainer {
  width: 100%;
  background-color: rgb(255, 246, 225);
  border-radius: 15px;
}

.Title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "DelaSuko", sans-serif;
}
