body {
  background-color: #1a1a1a;
  font-family: "GenEiNuGothic", sans-serif; /* 定義したフォントを使用 */
  color: #ffffff; /* テキストの色を設定 */
}

@font-face {
  font-family: "GenEiNuGothic"; /* 任意のフォント名 */
  src: url("/fonts/GenEiNuGothic-EB.ttf") format("truetype"); /* フォントファイルのパス */
  font-weight: normal;
  font-style: normal;
}
