.Container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
  flex-direction: column;
}

.tempContent {
  width: 100vw;
  height: 1000px;
  background-color: aqua;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

.rightSlideInBox {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease;
  transform: translateX(200%);
}

.leftSlideInBox {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease;
  transform: translateX(-200%);
}

.slideIn {
  transform: translateY(0);
  opacity: 1;
}

.scaleBox {
  opacity: 0;
  transition: opacity 1s ease-in-out, scale 1s ease;
  scale: 0;
}

.scale {
  scale: 1;
  opacity: 1;
}
